<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    
    
</head>


<div align = "center">
  <body>
  <p>
    <h2>TLP BLOCKCHAIN</h2>
    <form id = "myForm" action={{url}}  method="POST" input type="hidden">      
      <div class="form-group">
        Amount:
        <input type="text" id="amount" name = "Amount">
      </div>
      <div class="form-group">
        Sender:
        <input type="text" id="sender" name = "Sender">
      </div>
      
      <div class="form-group">
        Recipient:
        <input type="text" id="recipient" name = "Recipient">
    </div>

    <input type="submit" name='submit'value='Add Block' class="btn btn-primary">
    </form>
  </p>
  </body>
<form id = "myForm" action={{url2}}  method="POST">
  <input type="submit" name='View Blockchain' action={{url2}} value='View Blockchain'  class="btn btn-primary"></button>
</form>
<div id="loading"> </div>
<div>{{blockchain}}  </div>
<div>{{blockchain_data}}  </div> 
</div>      
